

.imgText{
    text-align:center;
    bottom: 10px;
    width: 80%;
    left: 10%;
}

.item img{
        width: 300px;

        transition: 0.2s linear;
      
}
#lightBoxContainer{
    background-color: rgba(0, 0, 0, 0.4);
}
#lightBox{
    background-image: url("../img/3201615143390فلسطين،-مدن-فلسطين،-جمال-فلسطين-\(13\).jpg");
    background-size: cover;
    background-position: center;
    width: 60%;
    height: 500px;
}
@media screen and (max-width:667px){
    #lightBox{
        width: 100%;
    }
}
i{
    cursor: pointer;
}
.item:hover img{
    transform: scale(1.1);
    
}